<!DOCTYPE html>
<html lang="en">

<head>
  <title>Caring Aunt</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/litera/bootstrap.min.css" />
  <style>
    body {
      background-color: #f1dcdf;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/blogs" style="width: 43%; font-size: xx-large;"><b>Caring Aunt</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/blogs" style="font-size: large;"><b>Blog</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logIn.html" style="font-size: large;"><b>Log In</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html" style="font-size: large;"><b>About</b></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <hr />

  <div class="container">
    <h3 style="text-align: center;">
      7 Amazing Facts About Periods That Everyone Needs To Know
    </h3>
    <hr />
    <img class="card-img-top center pb-4" style="height: 350px; width: 50%;"
      src="https://www.helpingwomenperiod.org/wp-content/uploads/2019/04/tampons-article.png"
      alt="Card image cap" />
    <p>So you think you know everything there is to know about periods? Think again. No matter how clued up you are, there’s
    always something that slips through your radar, especially some of the more unusual facts and stats of menstruation.
      <br><br>
      Below, we’ve gathered some of our favorite — and unexpected — period facts that we think everyone needs to know.
      <br><br>
      <b>1. Your periods get worse when it is cold</b>
      <br><br>
      This is definitely an amazing period fact: cold weather can impact your period, making it heavier and longer than
      normal.
      <br><br>
      During the winter months, a woman’s flow, period duration, and even pain level are longer than the summer. This pattern
      also extends to women who live in colder climates rather than warmer temperature.
      <br><br>
      The seasons can also affect your PMT too — the darker, shorter days can adversely impact your mood when combined with
      female productive hormones. This is thought to be because of a lack of sunshine, which helps our bodies to produce
      vitamin D and dopamine — which both boost our moods, happiness, concentration and all-round health levels.
      <br><br>
      <b>2. You can still get pregnant if you’re on your period</b>
      <br><br>
      Less of an amazing fact, but one you should probably know about.
      <br><br>
      Many people assume that you cannot get pregnant if you have sex while on your period. However, this is not true.
      <br><br>
      Although it’s more unlikely that you will become pregnant while you are menstruating, it is not impossible at all. This
      is because sperm can survive in the body for up to five or six days — so if you have a relatively short cycle, have sex
      towards the end of your period, and ovulate just after your period finishes, you could potentially fall pregnant.
      <br><br>
      Another fun related fact: back in the middle ages, people used to think that redheads were babies who were conceived
      while their mother was on her period.
      <br><br>
      <b>3. The average starting age for periods has changed over the years</b>
      <br><br>
      Did you know that over the last few centuries, the average age that a girl begins getting periods has changed?
      <br><br>
      Back in the 1800s, girls wouldn’t get their periods until they were well into their teens — the average age was around
      17. Nowadays, the average age to start menstruating is 12 — a whole five years younger.
      <br><br>
      Scientists think there are a few key reasons for this: namely, improved nutrition. We’re eating better — and more — than
      our ancestors did a few hundred years ago, and fat cells make estrogen. The more fat cells you have, the more estrogen
      you have in your body, which can trigger the start of your menstrual cycle as a girl.
      <br><br>
      Increased stress levels are also a factor. That’s right — high-stress levels can actually trigger the beginning of your
      period.
      <br><br>
      <b>4. You will spend nearly 10 years of your life on your period</b>
      <br><br>
      From the time of her first cycle to menopause, the average American woman will have around 450 periods in her lifetime.
      That’s a lot of periods.
      <br><br>
      Added up, this equates to around 10 years — or about 3,500 days — of the average woman’s life that will be spent
      menstruating. Translated into period products, this works out at around 11,000 tampons that the average woman uses in a
      lifetime.
      <br><br>
      Of course, everyone is different, and anything from cycle length to child-bearing, breastfeeding and culture can
      influence the number of periods a woman gets over her lifetime. However, one thing is certain — periods impact us all.
      <br><br>
      That’s why it is so important that we have nonprofit organizations like Helping Women Periodthat are committed to
      supplying menstrual health products to people who are either homeless or low-income.
      <br><br>
      <b>5. It’s easier than you think to have eco-friendly periods with period panties</b>
      <br><br>
      If the fact above scares you into thinking about the environmental impact that you’re having just by menstruating, then
      don’t worry! There are actually many different ways you can reduce your waste and have a guilt-free, eco-friendly
      period.
      <br><br>
      Disposable tampons and sanitary pads (which are mostly made from plastic) are no longer the only options out there.
      These days, there are all sorts of sustainable period products to choose from that you can keep and reuse for years —
      such as menstrual cups and period panties.
      <br><br>
      Period underwear brands like Knix have created a collection of washable, reusable, leakproof underwear which absorbs
      your period as a pad would (they can even handle heavy flow days). A few pairs of period panties save you from having to
      fork out for tampons and pads all the time and help you to have an environmentally-friendly period too.
      <br><br>
      <b>6. You lose a lot less blood than you think during your period</b>
      <br><br>
      Sometimes, when you’re having a particularly heavy flow day, it can feel as if something is wrong. Surely it’s not
      normal to produce this much blood?!
      <br><br>
      Although it may seem like a lot, your body only actually loses around three tablespoons of blood during your period; the
      average woman can lose anywhere from one tablespoon to a small cup of blood during a normal period.
      <br><br>
      If it seems like you’re losing more than this during your period, you should seek advice from a medical professional.
      Losing too much blood can increase your risk of anemia — which can cause dizziness, tired and poor circulation.
      <br><br>
      <b>7. Your period can affect how you sound and smell</b>
      <br><br>
      According to vocalization researchers, women’s voices can change slightly during their menstrual cycle due to our
      reproductive hormones affecting the vocal cords. This means women can sound different while on their period, and even
      “less attractive” according to the participants in their testing. Ouch.
      <br><br>
      The same female reproductive hormones also affect your natural scent, meaning you smell different when you’re on your
      period. This is very subtle and actually consciously detectable. It’s more of an animalistic thing, harking back to our
      caveman days when men would be more attracted to women who were ovulating rather than menstruating (meaning they could
      procreate).
      <br><br>
    <footer class="blockquote-footer">Dr. Karuna Negi <cite title="Source Title">CaringAunt Team</cite></footer>
    </p>
  </div>

  <footer class="border-top text-center small text-muted py-3">
    <p class="m-0">
      Copyright &copy; 2020
      <a href="/" class="text-muted">Caring Aunt</a>.

      <br />Handmade with Love.<br />All rights
      reserved.
    </p>
  </footer>
</body>

</html>