<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Caring Aunt</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/litera/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #f1dcdf;
      }
    </style>
  </head>

  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light"
      >
        <a
          class="navbar-brand"
          href="/blogs"
          style="width: 43%; font-size: xx-large;"
          ><b>Caring Aunt</b></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span
            class="navbar-toggler-icon"
          ></span>
        </button>

        <div
          class="collapse navbar-collapse"
          id="navbarColor01"
        >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                href="/blogs"
                style="font-size: large;"
                ><b>Blog</b></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="logIn.html"
                style="font-size: large;"
                ><b>Log In</b></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="about.html"
                style="font-size: large;"
                ><b>About</b></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <hr />

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.helpingwomenperiod.org/wp-content/uploads/2020/04/pexels-photo-826349-768x512.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                Why You Should Track Your Period
              </h5>
              <p class="card-text">
                Periods are a vital part of any
                woman’s life, so it’s important to
                know when they’re happening. Not
                only will tracking your period
                help you detect any
                irregularities, but […]
              </p>
              <a
                href="/includeBlog1"
                class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.helpingwomenperiod.org/wp-content/uploads/2019/04/tampons-article.png"
              style="height: 230px;"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                7 Facts About Periods That You
                Needs To Know
              </h5>
              <p class="card-text">
                So you think you know everything
                there is to know about periods?
                Think again. No matter how clued
                up you are, there’s always
                something that slips through your
                radar […]
              </p>
              <a
                href="/includeBlog2"
                class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.helpingwomenperiod.org/wp-content/uploads/2018/04/AG7A8417-1-768x512.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                4th Annual Helping Women Period
                Brunch
              </h5>
              <p class="card-text">
                It is hard to believe our annual
                fundraiser is over. But, the
                connection, education, networking,
                and financial support continues to
                make a tremendous impact and will
                […]
              </p>

              <a
                href="/includeBlog3"
                class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.helpingwomenperiod.org/wp-content/uploads/2020/04/pexels-photo-826349-768x512.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                Why You Should Track Your Period
              </h5>
              <p class="card-text">
                Periods are a vital part of any
                woman’s life, so it’s important to
                know when they’re happening. Not
                only will tracking your period
                help you detect any
                irregularities, but […]
              </p>
              <a
                href="/includeBlog1"
                class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.helpingwomenperiod.org/wp-content/uploads/2019/04/tampons-article.png"
              style="height: 230px;"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                7 Facts About Periods That You
                Needs To Know
              </h5>
              <p class="card-text">
                So you think you know everything
                there is to know about periods?
                Think again. No matter how clued
                up you are, there’s always
                something that slips through your
                radar […]
              </p>
              <a href="#!" class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.helpingwomenperiod.org/wp-content/uploads/2018/04/AG7A8417-1-768x512.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                4th Annual Helping Women Period
                Brunch
              </h5>
              <p class="card-text">
                It is hard to believe our annual
                fundraiser is over. But, the
                connection, education, networking,
                and financial support continues to
                make a tremendous impact and will
                […]
              </p>

              <a href="#!" class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.helpingwomenperiod.org/wp-content/uploads/2020/04/pexels-photo-826349-768x512.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                Why You Should Track Your Period
              </h5>
              <p class="card-text">
                Periods are a vital part of any
                woman’s life, so it’s important to
                know when they’re happening. Not
                only will tracking your period
                help you detect any
                irregularities, but […]
              </p>
              <a href="#!" class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.helpingwomenperiod.org/wp-content/uploads/2019/04/tampons-article.png"
              style="height: 230px;"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                7 Facts About Periods That You
                Needs To Know
              </h5>
              <p class="card-text">
                So you think you know everything
                there is to know about periods?
                Think again. No matter how clued
                up you are, there’s always
                something that slips through your
                radar […]
              </p>
              <a href="#!" class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img
              class="card-img-top"
              src="https://www.helpingwomenperiod.org/wp-content/uploads/2018/04/AG7A8417-1-768x512.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                4th Annual Helping Women Period
                Brunch
              </h5>
              <p class="card-text">
                It is hard to believe our annual
                fundraiser is over. But, the
                connection, education, networking,
                and financial support continues to
                make a tremendous impact and will
                […]
              </p>

              <a href="#!" class="card-link"
                ><b>Read More</b></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer
      class="border-top text-center small text-muted py-3"
    >
      <p class="m-0">
        Copyright &copy; 2020
        <a href="/" class="text-muted"
          >Caring Aunt</a
        >.

        <br />Handmade with Love.<br />All rights
        reserved.
      </p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
