<!DOCTYPE html>
<html lang="en">

<head>
  <title>Caring Aunt</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/litera/bootstrap.min.css" />
  <style>
    body {
      background-color: #f1dcdf;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/blogs" style="width: 43%; font-size: xx-large;"><b>Caring Aunt</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/blogs" style="font-size: large;"><b>Blog</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logIn.html" style="font-size: large;"><b>Log In</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html" style="font-size: large;"><b>About</b></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <hr />

  <div class="container">
    <h3 style="text-align: center;">
      4th Annual Helping Women Period Brunch
    </h3>
    <hr />
    <img class="card-img-top center pb-4" style="height: 350px; width: 50%;"
      src="https://www.helpingwomenperiod.org/wp-content/uploads/2018/04/AG7A8417-1-768x512.jpg" alt="Card image cap" />
    <p>It is hard to believe our annual fundraiser is over. But, the connection, education, networking, and financial support
    continues to make a tremendous impact and will do so in the months to come. Thank you to our planning committee and
    event volunteers who helped things run so smoothly. And to our keynote speaker, Ms. Jennifer Weiss-Wolfe. We just about
    sold out of our books and raised over $200 in partnership with Schuler’s Books. Please scroll down to view all the
    photos, courtesy of Jamie Randle of Randle Photography.
      <br><br>
      <h5>Sponsors</h5>
      <br><br>
      Singh Brothers
      <br><br>
      Manjeet Singh Ji
      <br><br>
      Haldiram's
      <br><br>
      Negi Workshops
      <br><br>
      Karuna Negi
      <br><br>
      Ram Mandir Anand Vihar
      <br><br>
      Gurudawa Anand Vihar
      <br><br>
    </p>
  </div>

  <footer class="border-top text-center small text-muted py-3">
    <p class="m-0">
      Copyright &copy; 2020
      <a href="/" class="text-muted">Caring Aunt</a>.

      <br />Handmade with Love.<br />All rights
      reserved.
    </p>
  </footer>
</body>

</html>