<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Caring Aunt</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/litera/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #f1dcdf;
      }
      .center {
         display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
      }
    </style>
  </head>

  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light"
      >
        <a
          class="navbar-brand"
          href="/blogs"
          style="width: 43%; font-size: xx-large;"
          ><b>Caring Aunt</b></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span
            class="navbar-toggler-icon"
          ></span>
        </button>

        <div
          class="collapse navbar-collapse"
          id="navbarColor01"
        >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                href="/blogs"
                style="font-size: large;"
                ><b>Blog</b></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="logIn.html"
                style="font-size: large;"
                ><b>Log In</b></a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="about.html"
                style="font-size: large;"
                ><b>About</b></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <hr />

    <div class="container">
      <h3 style="text-align: center;">
        Why You Should Track Your Period
      </h3>
      <hr />
      <img
        class="card-img-top center pb-4" style="height: 350px; width: 50%;"
        src="https://www.helpingwomenperiod.org/wp-content/uploads/2020/04/pexels-photo-826349-768x512.jpg"
        alt="Card image cap"
      />
      <p>Periods are a vital part of any woman’s life, so it’s important to know when they’re happening. Not only will tracking
      your period help you detect any irregularities, but it’ll also help you anticipate any symptoms—from headaches to mood
      swings. After all, the average American woman experiences around 450 periods in her lifetime—that’s a lot of medical
      history that needs recording.
      <br><br>
      But there’s more to it than that. Here are some more reasons why every woman should track their period:
      <br><br>
      <b>Lets you plan activities around it</b>
      <br><br>
      Periods are a natural part of life; we know this. However, it helps to have some semblance of control over them. Rather
      than having your period unexpectedly ruin a night out or get in the way of a beach trip, a tracker can tell you (almost)
      exactly when your period is going to come, which will allow you to plan your holidays, travels, and busy days around
      that time of the month.
      <br><br>
      <b>Helps make accurate diagnoses</b>
      <br><br>
      Instead of manually writing your experiences in a journal, it’s highly recommended to use period tracking apps. In fact,
      this type of technology is becoming increasingly popular in the healthcare industry. Maryville University highlights the
      growing inclusion of informatics in healthcare to complement public health initiatives and better understand the human
      body. This is why many apps and tech solutions are designed to pool patient data. A study by the University of Granada
      explains that menstrual apps are effective in helping women get to know their bodies a little better, since you log in
      your symptoms and can then determine if certain pains (like cramps) are period-related or something more serious.
      <br><br>
      <b>Lets you know when to double your workouts</b>
      <br><br>
      Syncing your diet plans and exercise routines with your period tracker can also help you maximize your fitness goals.
      Health columnist Emma McGowan writes that around two weeks after your period, your body produces more estrogen, which
      then increases the amount of energy in your body. However, once week three hits, both estrogen and progesterone
      increase, boosting your body’s ability to use fat for fuel. This means that weeks two and three post-period are the
      perfect days to burn some weight.
      <br><br>
      <b>Avoid unplanned pregnancies</b>
      <br><br>
      The woman’s body is fertile for an average of six days, according to medical specialists on Planned Parenthood. This
      includes the five days before you have your period and the day itself that you have your period. Of course, there’s
      still the possibility of pregnancy a day or two after your cycle, though the chances are lower. Though it’s not a very
      reliable way to avoid pregnancy, knowing your “safe” days may still help.
      <br><br>
      The menstrual cycle is not an on/off type of condition. Even if you’re not on your period, you can experience things
      like fluctuations in your sex drive, tiredness on some days, and even unexplainable mood swings at random intervals.
      Having a period tracker can help you understand a lot of things about yourself and make your life easier.
      <footer class="blockquote-footer">Manmeet Kaur <cite title="Source Title">CaringAunt Team</cite></footer>
    </p>
    </div>

    <footer
      class="border-top text-center small text-muted py-3"
    >
      <p class="m-0">
        Copyright &copy; 2020
        <a href="/" class="text-muted"
          >Caring Aunt</a
        >.

        <br />Handmade with Love.<br />All rights
        reserved.
      </p>
    </footer>
  </body>
</html>
